[2019-01-08 06:05] jmgasper opened #1 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2019-01-23 03:38] jmgasper opened #2 "[$250] Migration script"
We need a Node script that I can run to move content from the *current* groups API (http://api.topcoder-dev.com/v3/groups) to a *new* groups API configuration.

### General requirements

1.  We don't want to lose any data, so if anything doesn't "match", we need to alert the caller and throw an error.
2.  The endpoints for both the current groups API and the new groups API should be configurable.

[2019-01-23 03:38] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30080163 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-23 03:40] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30080163 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-23 03:46] jmgasper opened #3 "[$450] Authorization headers"
The new groups API needs the same authorization checks that exist in the current codebase.  We need to accept the token, process it, and ensure the user is authorized to make the necessary calls.

We should follow the same scheme implemented in the submission API, if it makes sense:

* https://github.com/topcoder-platform/submissions-api

* Existing groups API code:  https://github.com/appirio-tec

[2019-01-23 03:46] jmgasper commented on #3
Contest https://www.topcoder.com/challenges/30080167 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-23 05:26] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30080163 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-27 00:49] hesibo commented on #3
Please assign it to myself.
Also I need some tokens with different scopes for verification.

[2019-01-27 04:15] jmgasper commented on #3
Contest https://www.topcoder.com/challenges/30080167 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-27 04:24] jmgasper commented on #3
For scopes, you should be able to edit test accounts here:

https://admin.topcoder-dev.com

Login with `tonyj` / `appirio123`

You can edit my account under `User Management`.  Search for handle `Ghostar`.

You should be able to click `Edit` --> `Roles` to add / remove roles.

To login with my account in dev is just `Ghostar` / `appirio123`

[2019-01-27 06:46] jmgasper commented on #3
Contest https://www.topcoder.com/challenges/30080167 has been updated - it has been assigned to hesibo.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-27 10:12] hesibo commented on #3
I think we need to update the code to make it consistent with GroupResource in authorization?
GET /groups/{groupId}/membersCount allow anonymous
GET /groups allow normal user(in this case ignore the query parameters, getting from the current auth user)

[2019-01-27 10:52] jmgasper commented on #3
@hesibo - Yeah, we will have to do that, thanks.

[2019-01-27 10:52] jmgasper commented on #3
Contest https://www.topcoder.com/challenges/30080167 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-28 02:50] hesibo commented on #3
Progress Update:
I am still updating test code and postman. It is a great amount of works so I can't finish it in 24hr deadline. I hope I can finish it in 48hr(extend 24hr).
Note: I need to uses fake token in my testing like submissions-api(I don't know the 'secret' which is used during generating token via HS256). I only have a valid M2M token which can read and write groups(retrieved in another

[2019-01-28 02:56] jmgasper commented on #3
No problem. Thanks for the update

[2019-01-28 22:48] #3 closed

[2019-01-28 22:48] jmgasper commented on #3
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30080167<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-28 22:49] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30080163 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-29 00:37] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30080163 has been updated - it has been assigned to hesibo.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-29 01:12] hesibo commented on #2
1. It seems new groups API service will be deployed via Heroku. Can we access neo4j directly(outside Heroku instance)? Although we have User Node in neo4j but it is designed as outside resource. In other word, when a user register in TC, we need to insert a new User Node in neo4j <b>outside</b> such Heroku instance.
2. If an old user haven't join any group before, we can't migrate it if only retri

[2019-01-29 01:36] jmgasper commented on #2
1.  Yep, if you installed the GrapheneDB addon, you can get the connection details by running `heroku config`.  You'll see details for the URL, username, and password as part of the Heroku instance config, which you can use to connect to the DB directly.

2.  Ok - for now we'll leave that out of scope.

[2019-01-30 02:44] hesibo commented on #2
I have created pull request for this issue. If you need automate test code for verification, please notice me.

[2019-01-30 03:11] #2 closed

[2019-01-30 03:11] jmgasper commented on #2
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30080163<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-30 03:30] hesibo commented on #2
The Iterative Review status is Late, can you take a look at it?

[2019-01-30 03:48] jmgasper commented on #2
@hesibo - It should close itself out in the next few hours.  If you don't see it in PACTs by tomorrow, let me know and I'll contact support, thanks.

[2019-01-31 00:09] jmgasper opened #6 "Authorization help"
@hesibo - I'm having a hard time testing the authorization headers.  The M2M token works fine, but a normal user token doesn't seem to.

I can generate a v3 token (script attached), and it works with `api.topcoder-dev.com/v3/groups`, but it does *not* work with `http://tc-groups-dev.herokuapp.com/groups`, which is where I've deployed the latest code.

Any thoughts?

﻿https://www.dropbox.com/s/hy3v

[2019-01-31 00:12] jmgasper commented on #6
Contest https://www.topcoder.com/challenges/30082011 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-31 00:12] jmgasper commented on #6
Contest https://www.topcoder.com/challenges/30082011 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-31 00:13] jmgasper commented on #6
Contest https://www.topcoder.com/challenges/30082011 has been updated - it has been assigned to hesibo.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-01-31 00:23] jmgasper opened #7 "[$100] Add "domain" to the data model"
Request from Topcoder:

[2019-01-31 00:56] hesibo commented on #6
You need to change AUTH_SECRET in config/default.js or add AUTH_SECRET in config/production.js.
The AUTH_SECRET is the secret key of HS256 algorithm.

[2019-01-31 00:58] hesibo commented on #6
But still have issuer right problem. I am still working on it to find out the reason.

[2019-01-31 01:55] jmgasper commented on #6
@hesibo - Thanks.  Here's what the current setup is in Heroku:

I set AUTH_SECRET to what I use when making login calls to TC dev, like in the script I attached above.  Does that make sense or should it be something else?

[code]

[2019-01-31 02:47] hesibo commented on #6
It seems AUTH_SECRET is incorrect.

We need the secret of v3 authroization

Go to https://jwt.io/. You can have a try using the token generate in
https://api.topcoder-dev.com/v3/authorizations

you will got Invalid Signature.

Example Token generate via v3 authorizations

"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyb2xlcyI6WyJUb3Bjb2RlciBVc2VyIiwiQ29ubmVjdCBTdXBwb3J0IiwiYWRtaW5pc3RyYXRvciIsInRlc3RSb

[2019-01-31 03:01] jmgasper commented on #6
@hesibo - Do we need to validate the JWT signature?  Can we just ignore if it doesn't validate properly for now?

[2019-01-31 03:03] jmgasper commented on #6
@hesibo - Actually, ignore that request - I'll test this and we'll figure it out, thanks.

[2019-01-31 03:05] hesibo commented on #6
Ok.
Why you don't take a look at submissions-api and uses the same AUTH_SECRET.
They have the same logic when validating JWT.

On Thu, Jan 31, 2019 at 11:03 AM Justin Gasper <notifications@github.com>
wrote:

[2019-01-31 03:21] jmgasper commented on #6
Will do, thanks.

[2019-01-31 03:22] jmgasper commented on #6
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30082011<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-05 00:16] jmgasper commented on #7
Contest https://www.topcoder.com/challenges/30082547 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-05 00:16] jmgasper commented on #7
Contest https://www.topcoder.com/challenges/30082547 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-05 07:35] jmgasper commented on #7
Contest https://www.topcoder.com/challenges/30082547 has been updated - it has been assigned to hesibo.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-05 09:32] hesibo commented on #7
done

[2019-02-05 23:41] #7 closed

[2019-02-05 23:43] jmgasper commented on #7
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30082547<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-07 00:31] jmgasper opened #9 "[$140] Add endpoint to support grabbing data by oldID and some filtering"
Request from Topcoder:

@hesibo - is this one you can take?  We'll need updated Postman calls as well, like we've been doing.

[2019-02-07 00:33] jmgasper commented on #9
Contest https://www.topcoder.com/challenges/30083016 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-07 00:34] jmgasper commented on #9
Contest https://www.topcoder.com/challenges/30083016 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-07 02:33] jmgasper commented on #9
Contest https://www.topcoder.com/challenges/30083016 has been updated - it has been assigned to hesibo.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-02-07 12:06] hesibo commented on #9
done

[2019-02-07 21:24] #9 closed

[2019-02-07 21:26] jmgasper commented on #9
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30083016<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-03-18 18:44] cwdcwd opened #11 "[$20] Create a topcoder-x usage video"
create a video demonstrating topcoder X in usage

[2019-03-18 18:47] jmgasper commented on #11
Contest https://www.topcoder.com/challenges/30086618 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-03-18 18:48] jmgasper commented on #11
Contest https://www.topcoder.com/challenges/30086618 has been updated - it has been assigned to lazybaer.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-03-18 18:49] #11 closed

[2019-03-18 18:49] jmgasper commented on #11
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-03-18 20:51] cwdcwd opened #12 "[$20] Create a video of Topcoder X"
create a video of topcoder X please!

[2019-03-18 20:52] jmgasper commented on #12
Contest https://www.topcoder.com/challenges/30086622 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-03-18 20:53] jmgasper commented on #12
Contest https://www.topcoder.com/challenges/30086622 has been updated - it has been assigned to lazybaer.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-03-18 20:55] cwdcwd commented on #12
great video!

[2019-03-18 20:55] #12 closed

[2019-03-18 20:57] jmgasper commented on #12
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086622<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2019-08-19 19:08] ajefts opened #17 "Add Status Field to Groups API"
Currently, there is no way to deactivate a group.  The only way to "turn off" a group is to remove the members from it and/or delete the group, but this destroys the history of it.

"As an admin user, I want to select a group or set of groups and update the status on those groups."

The effect of making a group inactive is that it will no longer be returned by default in API calls, which means the

[2019-08-19 19:09] ajefts commented on #17
fyi @cwdcwd

[2019-10-16 06:51] m-yadav opened #20 "V5 to V3 backward compatibility not working"
Group parameters when updated via V5 API endpoints are not being reflected for V3 get request.

**Logs**

[32minfo[39m: Handle Kafka event message; Topic: groups.notification.update; Partition: 0; Offset: 0; Message:
{
    "topic": "groups.notification.update",
    "originator": "topcoder-groups-api",
    "timestamp": "2019-10-16T06:26:09.417Z",
    "mime-type": "application/json",
    "payload"

[2019-10-16 10:26] m-yadav opened #21 "Old group ids not being created for new groups"
While creating the group, Old ids are not being created and hence the group is not available for the launching of challenges as Direct and Online Review uses V3 Id for group functionality.

Also, Users who are being added to groups via new v5 either by self registrations or from admin tool, they are not able to work in Online Review/Direct as they still use v3 group id.

[2019-10-18 06:21] RiteshTC opened #22 "Unsually high number of Rollback Transaction events in Legacy Processor"
The Legacy Groups Processor has a lot of Transaction Rollback events.

    "code": "ER_DUP_ENTRY",
    "errno": 1062,
    "sqlState": "23000",
    "sqlMessage": "Duplicate entry '20000000-40983059-1' for key 'group_member_id'"

It may not be an issue, but the higher number of rollbacks on Authorization Db, might be impacting performance.
<img width="1093" alt="RollbackTransactions" src="https://us

[2019-10-18 06:30] RiteshTC opened #23 "Group Update via M2M fails with Error"
Group Update operation with a M2M token fails with an error "Neo.ClientError.Statement.ParameterMissing".

The updateBy parameter is not set when a M2M token is used
https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupService.js#L212
<img width="846" alt="UpdatedBy" src="https://user-images.githubusercontent.com/5771673/67070924-ea53d480-f19e-11e9-9c83-2c86daddf3b1.png">

[2019-10-22 10:49] RiteshTC opened #25 "Selecting Private Group option during Group creation throws error"
Creating a private group throws an "Internal Server Error".
<img width="377" alt="InternalError" src="https://user-images.githubusercontent.com/5771673/67278950-ad157c80-f4e7-11e9-9dce-6bd330388cc1.png">

Input JSON
{"param":{"name":"ABC","privateGroup":true,"selfRegister":false}}

[2019-11-27 02:55] cwdcwd opened #31 "Swagger documentation"
Add in a swagger documentation endpoint like we have [here](https://tc-submission-api-prod.herokuapp.com/docs/) on the [submission API](https://github.com/topcoder-platform/submissions-api/blob/develop/app.js#L128)

[2019-12-02 20:16] cwdcwd commented on #23
looks like this one was resolve [here](https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupService.js#L205)

[2019-12-02 20:16] #23 closed

[2019-12-02 20:53] cwdcwd commented on #25
this looks resolved

[2019-12-02 21:39] cwdcwd commented on #25
Error reproducible when no `description` field is present

[2019-12-03 12:16] sharathkumaranbu commented on #25
Based on the discussion with @dushyantb, fix has been made in the Admin application. Issue is with the Client and not at the Server.

[2019-12-04 03:21] bountyC0d3r commented on #25
made description field mandatory in admin-app; hence closing this issue

[2019-12-04 03:21] #25 closed

[2019-12-04 03:22] dushyantb opened #33 "Filter out the groups without oldId for `getGroups` end-point"
`searchGroups` method returns all the groups associated with the member; while returning the groups filter out those not having `oldId`

[2019-12-04 03:29] dushyantb opened #34 "update the json payload with v5 standards for POST api"

[2019-12-05 12:46] sharathkumaranbu opened #37 "Update Swagger and Postman"
Swagger and Postman is out of sync with code. It needs to be updated.

[2019-12-06 18:47] #37 closed

[2019-12-06 18:49] #17 closed

[2019-12-06 18:49] #31 closed

[2019-12-06 18:49] #33 closed

[2019-12-06 19:21] sharathkumaranbu commented on #34
Hi @dushyantb

Is the ticket relevant here?

[2019-12-08 19:01] #1 closed

[2019-12-10 10:31] RiteshTC opened #38 "Admin Check is not passed to the helper method."
https://github.com/topcoder-platform/groups-api/blob/7475dde7bb9e02b670c80745bc145152e9b93dd4/src/services/GroupMembershipService.js#L330

[2019-12-10 10:41] sharathkumaranbu commented on #38
@RiteshTC Noted. What is the priority of this issue? Can I defer it to fix this issue along with E2E tests which we are developing now?

[2019-12-11 13:33] bountyC0d3r commented on #34
no... closing this one

[2019-12-11 17:39] sharathkumaranbu opened #40 "Delete group member behaviour"
Right now we allow only Admins to access delete group member end point

https://github.com/topcoder-platform/groups-api/blob/7475dde7bb9e02b670c80745bc145152e9b93dd4/src/routes.js#L86-L93

But in the code we have logic in place to allow a member to delete himself from self registration enabled groups.

https://github.com/topcoder-platform/groups-api/blob/7475dde7bb9e02b670c80745bc145152e9b93dd4/sr

[2019-12-12 02:54] lakshmiathreya commented on #40
cc @lakshmiathreya

[2019-12-17 19:46] sharathkumaranbu opened #47 "Conflict check not done during update"
While updating group name, we are not validating whether a group with such name already exists. This need to be corrected.

[2020-03-24 17:31] ThomasKranitsas opened #49 "oldId should be legacyId"
I see in the response of api.topcoder-dev.com/v5/groups/ there is an `oldId` property. This should be named `legacyId` like we do in all other services there were upgraded to V5

cc @rootelement

[2020-04-10 12:59] sushilshinde commented on #34
**Testing Scope:**

1. Add member feature for public communities
2. Groups related features
    - Private challenges display
    - Private communities access

[2020-04-27 04:39] dushyantb opened #50 "Fix issue with the bolt connection limit"
- Fixed issues with the bolt connection limit; closed open sessions once the operation is done

[2020-04-27 04:55] lakshmiathreya commented on #50
cc @SathyaJayabal

[2020-05-06 10:35] jmgasper opened #51 "Membership clarification"
Currently, our call to get the groups for launching a challenge returns *all* groups, not just the groups the user has access to

### Currently

We're calling GET `https://api.topcoder-dev.com/v5/groups` with an `Authorization` header for the user

### Change

I'm expecting we'll have to make a call like this, with the `memberId` and `membershipType`, but I want to make sure this will actually ret

[2020-06-14 11:36] narekcat opened #54 "Add new endpoint for getting metadata for given groups"
We need new endpoint for getting metadata for given groups like it was for communities in V4 api. Check this [link ](https://community-app.topcoder-dev.com/community-app-assets/api/tc-communities?groups%5B0%5D=2&groups%5B1%5D=3&groups%5B2%5D=20000000&groups%5B3%5D=20000003&groups%5B4%5D=20000004&groups%5B5%5D=20000010&groups%5B6%5D=20000013&groups%5B7%5D=20000015&groups%5B8%5D=20000043&groups%5B9%

[2020-06-15 04:21] callmekatootie opened #55 "Group name uniquenes"
Group name should be unique per organization.

Currently, it seems to be unique across all orgs and not per org

[2020-06-15 19:41] rootelement opened #56 "Groups API getGroup and updateGroup aren't working for inactive groups with M2M"
@dushyantb is this call correct? It seems like it should be:

`currentUser === 'M2M' || helper.hasAdminRole(currentUser)`

https://github.com/topcoder-platform/groups-api/blob/2711917f60198e7553abe5f8f04bed59d464faed/src/services/GroupService.js#L263

https://github.com/topcoder-platform/groups-api/blob/2711917f60198e7553abe5f8f04bed59d464faed/src/services/GroupService.js#L323

cc @cwdcwd

[2020-06-15 19:44] rootelement commented on #56
FYI - i don't think this has really ever been an issue for anyone else because I'm bringing legacy groups forward with a script and I was creating them as inactive, so i couldn't find them afterward.

[2020-06-16 12:10] RiteshTC opened #58 "Feature Request: New Method to Bulk Add Users to a Group"
Topgear requirement:
Add 10 default user admins to every new Topgear group created.
This will be useful in the admin tool as well, as users are mostly added in bulk.

Feature Request:
Create a method to accept an array of user Ids to be bulk added to a group at once.
Feature can be restricted to admin user or M2M token only

[2020-06-16 13:31] bountyC0d3r commented on #56
by design the group update was only done by the admin only and not by the m2m

[2020-06-16 13:40] rootelement commented on #56
Ok, i'll conceed the Update part. But the GET won't allow an M2M to get Inactive groups?

[2020-06-16 15:43] bountyC0d3r commented on #56
@rootelement I made changes where you can get the `inactive` groups in `getGroups` call

[2020-06-25 12:44] RiteshTC opened #59 "Sync Active status on V5 Groups to Postgres"
Background:
A new attribute "active" has been added  to V5 Group api.
We would like to replicate the active field to Postgres database and subsequently to ETL.

Details:
ETL process currently reads data from Authorisation Postgres database for Groups by an AWS job.
This new field "Active" doesn't exist in Postgres database.

1. Please create a new "active" field in Authorization Postgres Db
2. Upd

[2020-06-29 17:13] m-yadav opened #60 "Old Ids are not being created for new groups"
Old Ids are not created for the newly created groups. Topgear team has reported the issue.

Ex : Group with v5 Id **a12f6c04-3cb1-421a-b728-f330266f77af** has been created but no corrosponding old id has been created

Below errors were seen in group api logs

2020-06-29T22:21:38.301+05:30 | [31merror[39m: Unknown column 'NaN' in 'field list' {     "code": "ER_BAD_FIELD_ERROR",     "errno": 1054,

[2020-06-29 17:14] m-yadav commented on #60
cc : @cwdcwd  @ajefts @dushyantb

[2020-07-01 14:50] lakshmiathreya commented on #60
cc @SathyaJayabal @sushilshinde

[2020-07-01 14:51] cwdcwd commented on #60
oldIds are created by the legacy processor. Has anyone looked there yet?

[2020-08-07 12:34] lakshmiathreya opened #63 "Unable to add Child Group as member to Parent Group"
-- Member addition to Groups doesnt work when Member is a group.
-- This functionality works in Production but not in Dev Environment.

@wdprice pls verify for Impact on Skill Search App deployment.

[2020-08-07 14:01] wdprice commented on #63
@lakshmiathreya - this does not affect skill search app.

However, if this issue affects existing production applications I would consider this a blocker to deployment.

[2020-08-07 14:03] lakshmiathreya commented on #63
https://drive.google.com/file/d/1Ih6W8K-WIruQL38sBojPmfM_9EE8orNz/view?usp=sharing

[2020-08-07 14:04] lakshmiathreya commented on #63
@wdprice - we might have to discuss with @ajefts to assess Impact on Production ...

[2020-08-07 15:34] wdprice commented on #63
@dushyantb - can you investigate this? We will not be able to migrate Groups to prod while this issue exists.

CC: @cwdcwd

[2020-08-11 05:55] bountyC0d3r commented on #63
@wdprice this has been fixed and deployed on `dev`

[2020-08-11 13:53] wdprice commented on #63
@lakshmiathreya - ready for re-test

[2020-08-13 12:49] lakshmiathreya commented on #63
<img width="1253" alt="Screenshot 2020-08-13 at 6 18 07 PM" src="https://user-images.githubusercontent.com/51733042/90136181-656f2280-dd91-11ea-82d9-db72635917a5.png">

[2020-08-13 14:30] rootelement opened #64 "Endpoint to See if User is Member of a Group"
In challenge api, we need to see if a user has access to a challenge. We have a group UUID and a member ID, but because of the security / groups and subgroups layout, it's not easy to see if a user has access to a group.

I propose providing an endpoint with a HEAD where you can just see if a user has access to a group. I'm thinking something like this:

`HEAD /v5/groups/:groupUUID?memberId=12345`

[2020-08-18 19:11] cwdcwd opened #68 "Change groupRoles endpoint"
Change groupRoles endpoint to comply with kabob-case standard

[2020-08-18 19:12] #68 closed

[2020-08-25 12:22] #50 closed

[2020-08-25 13:20] #63 closed

[2020-09-08 17:19] rootelement opened #69 "Update Object Issues"
In dev, trying to update this object:
`717f514d-f375-4e25-aff9-07d2af3052e2`

The object looks like this:
[code]

There is no `description` property. If i omit it for a PUT, i get a 400 error:
`[1] "description" is not allowed to be empty`
If i force it to be an empty string, i get the same error.

This is the cURL i'm trying to use:

[code]

In this case, I also stripped `ssoId`, it wouldn't let

[2020-09-13 05:37] callmekatootie opened #70 "Pass the universalUID when removing member from group in the kafka message"
Right now, we are not passing the universalUID in the kafka message when a member is removed from the group:

Example:

[code]

We need to pass the universalUID in the message to identify the user that was deleted (for use with the ubahn api).

[2020-09-13 05:51] callmekatootie commented on #70
Resolved

[2020-09-13 05:51] #70 closed

[2020-11-19 15:05] rootelement commented on #49
This will have to be done in a deprecation fashion, where legacyId is added and works either/or with oldId, until we can confirm major uses of oldId are removed, then we can shut it down.

[2020-11-19 15:06] rootelement opened #73 "Groups Search & Swagger Updates"
Based on this thread:
https://github.com/topcoder-platform/work-manager/issues/899#issuecomment-730435005

We need to:

- [ ] add fuzzy search by name to allow for dropdown auto-completion.
- [ ] Make sure the swagger is up to date.
- [ ] Make sure the swagger is hosted in the deployed API like https://api.topcoder.com/v5/challenges/docs

[2020-11-19 15:18] rootelement commented on #73
Test case - right now, this: api.topcoder.com/v5/groups?name=Test returns no results. But the first result with no filter returns:
[code]

You should be able to search for Test and get that result returned.

[2020-11-19 17:08] lakshmiathreya commented on #73
@rootelement - is the fix done - would help if you could add current status in the Label? ...

[2020-11-19 20:53] rootelement commented on #73
Is _this_ fix done? it was opened 2 hours before your post.... Mithun isn't _that_ fast. He's gotta run a task or challenge to get this implemented. He will update with status here when in flight and when completed. @callmekatootie please keep @lakshmiathreya updated.

[2020-11-20 09:13] callmekatootie opened #74 "[$110] Groups API | Fix m2m token auth issue and fix lint errors"

[2020-11-20 09:21] callmekatootie opened #76 "[$40] Project Groups API | GET /groups/memberGroups issue"
Need to check this route out. The code looks funny - https://github.com/topcoder-platform/groups-api/pull/75/files#diff-1986a413446a4a98367ca8e3ca90e7c3029c0fee503746a404f940afcdf49934R104

[2020-11-22 12:33] callmekatootie opened #77 "Update group without status"
When we try to update group without status, we get an error

![image](https://user-images.githubusercontent.com/2317133/99903831-fe94ca00-2cec-11eb-8d44-46d56940e9f3.png)

Cause seems to be [this code](https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupService.js#L261) that continues to use the status in the query, even if it is not passed

[2020-11-22 12:39] callmekatootie opened #78 "[$40] Project Groups API | Searching groups as a non admin user fails"
When searching groups as a non admin user, we get the following error:

[code]

It seems we are not converting the [memberId](https://github.com/topcoder-platform/groups-api/blob/develop/src/controllers/GroupController.js#L18) which is a Number to String before passing to the service and the [validator](https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupService.js#L156)

[2020-11-22 12:39] callmekatootie commented on #78
Similar conversion issue observed [here](https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupMembershipService.js#L204). The equality is never true due to the wrong data types.

[2020-11-22 18:56] GoodFaithParadigm8 commented on #78
There is a note as to where the validation occurs for what is described as an "optionalID":
https://github.com/topcoder-platform/groups-api/blob/646510a74cf6639fc83dfdb58a5cc58acf7e1341/src/services/GroupService.js#L156

in app-bootstrap:
https://github.com/topcoder-platform/groups-api/blob/646510a74cf6639fc83dfdb58a5cc58acf7e1341/app-bootstrap.js#L7

I changed the validation from string to number

[2020-11-22 18:57] GoodFaithParadigm8 commented on #78
There is a note as to where the validation occurs for what is described as an "optionalID":
https://github.com/topcoder-platform/groups-api/blob/646510a74cf6639fc83dfdb58a5cc58acf7e1341/src/services/GroupService.js#L156

in app-bootstrap:
https://github.com/topcoder-platform/groups-api/blob/646510a74cf6639fc83dfdb58a5cc58acf7e1341/app-bootstrap.js#L7

I changed the validation from string to number

[2020-11-22 21:06] GoodFaithParadigm8 commented on #78
`optionalId` is used for both `memberId` and `universalUID`

`memberId` seems to be a number and `universalUID` a string, so another way to handle the joi validation for `optionalID` is `Joi.alternatives().try(Joi.number(), Joi.string());` to satisfy the validation for both identifier types.

[2020-11-26 05:35] callmekatootie opened #80 "[$40] Project Groups API | GET /groups/oldId/:oldId"
If you trace the code for this endpoint, it lands here https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupService.js#L431 where we are not using oldId at all

[2020-11-26 06:16] callmekatootie commented on #77
Resolved

[2020-11-26 06:16] #77 closed

[2020-11-26 06:24] callmekatootie commented on #73
@rootelement @lakshmiathreya The changes are in dev. Let me know if I am good to push to prod

[2020-11-26 08:34] callmekatootie commented on #74
$40 paid through copilot payment - total payment $150

[2020-11-26 08:36] callmekatootie commented on #74
Contest https://www.topcoder.com/challenges/30153877 has been created for this ticket.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-11-26 08:36] callmekatootie commented on #74
Contest https://www.topcoder.com/challenges/30153877 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-11-26 08:43] callmekatootie commented on #74
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-11-26 08:48] #74 closed

[2020-11-26 08:52] callmekatootie commented on #74
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153877<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-11-26 09:46] lakshmiathreya commented on #73
@callmekatootie I will let you know once my tests are done in Dev ...

[2020-12-01 09:31] callmekatootie commented on #76
Route GET `/groups/memberGroup` has been removed since it did not lead to anywhere

[2020-12-01 09:32] callmekatootie commented on #76
Contest https://www.topcoder.com/challenges/30155049 has been created for this ticket.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-12-01 09:32] callmekatootie commented on #76
Contest https://www.topcoder.com/challenges/30155049 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-12-01 09:50] callmekatootie commented on #78
Contest https://www.topcoder.com/challenges/30155058 has been created for this ticket.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-12-01 09:50] callmekatootie commented on #78
@GoodFaithParadigm8, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-12-01 09:53] callmekatootie commented on #78
@GoodFaithParadigm8 Could you kindly register here - https://x.topcoder.com/api/v1/github/teams/registration/d8e0ccbc-7dec-43ce-b974-c295db0c10fe-1606816400259 - so that I can pay you $40 towards the efforts in this ticket. Your Pull Request was accepted.

[2020-12-01 10:21] callmekatootie commented on #80
Found in commit 2e3cb71bcdf3e11bb0e8d50dc94febb799b34025 - the `isOldId` in that function was moved to the helper function which uses uuid check to verify if it is old id or not.

Thus, that argument in the code is no longer needed. Removing...

[2020-12-01 10:37] callmekatootie commented on #80
Contest https://www.topcoder.com/challenges/30155088 has been created for this ticket.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-12-01 10:37] callmekatootie commented on #80
Contest https://www.topcoder.com/challenges/30155088 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-12-01 13:01] lakshmiathreya commented on #80
@callmekatootie pls let me know how this fix can be verified in QA?

[2020-12-01 13:02] lakshmiathreya commented on #76
@callmekatootie - how can this be verified in QA?

[2020-12-01 13:18] lakshmiathreya commented on #78
@callmekatootie - need clarification reg the testing for this - I notice Groups search works fine in Prod currently - checked via Copilot - non Admin user in Work manager. Can you let me know the specific case where Search is failing currently in Prod?

[2020-12-01 13:46] callmekatootie commented on #80
GET /groups/oldId/{oldId} - where you are passing the old id of a group should work.

Previously also this should work - this ticket only removes obsolete code - code that was not used at all

[2020-12-01 13:48] callmekatootie commented on #76
I would say there is nothing to test per se - I just removed a route GET /groups/memberGroup that I am not sure how it came to be. We have a GET /groups/memberGroup/:memberId that did the same job

[2020-12-01 13:57] callmekatootie commented on #78
Good question - I investigated and I cannot reproduce the issue in prod.

I suspect the cause of the issue reported here is the token in our POSTMAN environment and thus the code may not be at fault - I believe we need to change that to be a string instead of a number. Need to look into this further. Will get back asap

[2020-12-02 13:23] lakshmiathreya opened #81 "Old id missing in Groups listing response"
Old id is returned in Prod and missing in Dev -
<img width="1680" alt="Screenshot 2020-12-02 at 6 49 38 PM" src="https://user-images.githubusercontent.com/51733042/100878055-ad948b00-34cf-11eb-954d-e077c27b2506.png">

<img width="1680" alt="Screenshot 2020-12-02 at 6 43 06 PM" src="https://user-images.githubusercontent.com/51733042/100878033-a66d7d00-34cf-11eb-8562-d357c61278bd.png">

[2020-12-02 13:24] lakshmiathreya commented on #81
cc @rootelement

[2020-12-02 16:15] GoodFaithParadigm8 commented on #78
The other identifier that uses the `optionalId` is organizationId:

https://github.com/topcoder-platform/groups-api/blob/646510a74cf6639fc83dfdb58a5cc58acf7e1341/src/services/GroupService.js#L164

If `memberId` is supposed to be a string you could change the `memberId` in the POSTMAN environment to a string and all would validate as a string, shouldn't be a problem.

[2020-12-02 16:20] callmekatootie commented on #78
@GoodFaithParadigm8 I would still like to pay you though for reporting this issue - could you register using the link shared here: https://github.com/topcoder-platform/groups-api/issues/78#issuecomment-736364435

[2020-12-02 16:27] GoodFaithParadigm8 commented on #78
@callmekatootie I get this error when registering at that link:
[code]
[ERROR 422](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/422)

[2020-12-02 16:31] callmekatootie commented on #78
Np. I'll pay you directly

[2020-12-02 16:38] GoodFaithParadigm8 commented on #78
@callmekatootie What do you need?

[2020-12-02 16:44] callmekatootie commented on #78
Nothing - I have your topcoder handle... If that linked would have worked, I could have paid you directly through this ticket itself - otherwise I have to go through couple more hoops that is all. Will let you know once I have made the payment

[2020-12-03 04:59] callmekatootie commented on #78
@GoodFaithParadigm8 Could you kindly accept Standard Terms for Topcoder Competitions v3 - that you can find [here](https://www.topcoder.com/challenges/terms/detail/564a981e-6840-4a5c-894e-d5ad22e9cd6f)

[2020-12-06 16:10] callmekatootie commented on #78
@GoodFaithParadigm8 $40 has been paid out - Please let me know if you cannot see the payment in your PACTs even after 24 hours.

[2020-12-06 16:13] callmekatootie commented on #78
@lakshmiathreya Managed to narrow down the cause of the issue. It was a bug with a code that is still in `develop` branch (related to https://github.com/topcoder-platform/groups-api/issues/74)

After correcting it, we no longer face the issue.

For your testing, you would search for groups as a regular user - it should work without any errors.

[2020-12-06 16:13] callmekatootie commented on #78
Ticket is ready for QA

[2020-12-06 17:07] callmekatootie commented on #81
@lakshmiathreya Do you happen to know how these groups were created - I just created one and I see the oldId:

[code]

I tried multiple times and I could not get a group without old id...

Probably the processor was down when the group was created? Not sure how to resolve this. Will check with James...

[2020-12-09 07:56] callmekatootie opened #82 "[$1] Groups API | Figure out how many groups have no old id"

[2020-12-09 07:56] callmekatootie commented on #82
Contest https://www.topcoder.com/challenges/30156755 has been created for this ticket.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-12-09 07:58] callmekatootie commented on #82
Contest https://www.topcoder.com/challenges/30156755 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-12-09 08:00] callmekatootie commented on #82
Paid through copilot payment

[2020-12-09 08:00] #82 closed

[2020-12-09 08:04] callmekatootie commented on #82
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156755<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2021-01-07 09:05] #76 closed

[2021-01-07 09:05] callmekatootie commented on #76
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2021-01-07 09:05] #78 closed

[2021-01-07 09:05] callmekatootie commented on #78
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2021-01-07 09:06] #80 closed

[2021-01-07 09:06] callmekatootie commented on #80
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2021-01-07 10:29] #73 closed

[2021-01-07 10:40] #81 closed

[2021-04-15 04:20] mtwomey opened #84 "Need to implement an option on "/v5/groups" that returns all parent groups as well as groups the user is in"
The most used call in groups API is plan old "/v5//groups/:groupId". This is because challenge-api needs to determine:

Step 1:  Get all the groups the user directly belongs to (which is often > 1000).
Step 2: For each of those groups, get all the parent groups of that group
Step 3: Combine all these group IDs together

Step 2 makes a separate call for every group returned from Step 1, so a single

[2021-12-16 12:28] ThomasKranitsas opened #97 "Performance improvements"
Issues have been repeatedly reported where the actual root cause is the performance of the Groups API and the overall architecture of how we manage groups.

A recent example of an issue that's the result of this is https://github.com/topcoder-platform/community-app/issues/5940

References:
- https://github.com/topcoder-platform/groups-api/issues/84
- https://github.com/topcoder-platform/groups-api

[2021-12-16 12:32] lakshmiathreya commented on #97
cc @SathyaJayabal

[2022-03-08 10:27] bountyC0d3r commented on #64
this has been implemented and deployed on dev

[2022-03-08 10:29] bountyC0d3r commented on #84
this has been covered as a part of the `groupeligibilitycheck` end point

[2022-03-08 10:29] bountyC0d3r commented on #97
- group API is already optimised and performing well

[2022-03-08 10:29] #97 closed

[2022-03-08 11:03] lakshmiathreya commented on #84
cc @SathyaJayabal pls verify this and update QA status.

[2022-03-08 11:05] lakshmiathreya commented on #64
@SathyaJayabal Pls verify and update QA status.

[2022-03-09 03:57] SathyaJayabal commented on #64
@dushyantb , the endpoint returns check = false for all cases.
Example: the below user is the member of the below group, but the api returns false
member: 40159097
group: 20000000
<img width="889" alt="Screenshot 2022-03-09 at 9 27 09 AM" src="https://user-images.githubusercontent.com/58783823/157370005-5f8aab40-9024-4dfe-adcc-c20cc4781ee2.png">
<img width="722" alt="Screenshot 2022-03-09 at 9 27

[2022-03-09 03:58] SathyaJayabal commented on #64
cc @lakshmiathreya

[2022-03-09 04:10] SathyaJayabal commented on #84
@dushyantb , the `groupeligibilitycheck` endpoint only returns a check:true/false . How do we get the list of groups the user has access to (including parent groups) ?
Do we use the `groups/MemberGroups/{oldMemberId}`  endpoint instead? This returns the list of groups including the parent groups, but it returns only the list of old group ids. The challenge-api will need to make further calls to ge

[2022-03-21 05:24] rakibansary commented on #84
Groups micro-service already has an Api that returns all the groups accessible by a member. It has now been updated to return UUIDs which can be used by Challenge Api to reduce number of Api calls to get a members accessible groups in this commit https://github.com/topcoder-platform/groups-api/commit/d1ff0978f1411195e7283612007efa385d80b9d2

[2022-03-21 05:27] SathyaJayabal commented on #84
verified on dev
using the uuid=true param
<img width="1440" alt="Screenshot 2022-03-21 at 10 56 23 AM" src="https://user-images.githubusercontent.com/58783823/159209336-09fda8c3-4d13-4602-85c2-91c2e4fc3aa5.png">
without the new param
<img width="1440" alt="Screenshot 2022-03-21 at 10 56 45 AM" src="https://user-images.githubusercontent.com/58783823/159209345-62f72988-0db2-4ea4-a6f1-974df5ef3203.pn

[2022-03-22 05:37] SathyaJayabal commented on #84
https://topcoder.atlassian.net/browse/PROD-933?focusedCommentId=17337

[2022-03-22 05:37] #84 closed